.progress-bar-container {
  width: 100%;
  height: 3px;
  overflow: hidden;
  display: left;
}

.progress-bar {
  height: 100%;
  background: linear-gradient(
    272deg,
    #3ea267 4.19%,
    #269052 24.57%,
    #32a261 43.44%,
    #31c16d 66.47%,
    #65ee9e 83.69%,
    #04ff6c 101.87%
  );
  transition: width 0.3s ease-in-out;
}
