* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: "PT Sans Narrow", sans-serif;
}
.content-quiz {
  background: #d6d6d6;
  height: 100vh;
}
.container-title {
  color: #464646;
  font-family: PT Sans Narrow;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.container-timer {
  color: #464646;
  font-family: PT Sans Narrow;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 400px;
}
.container-questnumber {
  color: #464646;
  font-family: PT Sans Narrow;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  justify-content: center;
  display: flex;

  margin-top: 30px;
}

.btn-quit {
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid #979797;
  background: #404040;
  width: 136px;
  height: 42px;
  flex-shrink: 0;
  color: #fff;
  font-family: Liberation Sans Narrow;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.btn-quit:hover {
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid #fb0000;
  background: #6f1111b1;
  width: 136px;
  height: 42px;
  flex-shrink: 0;
  color: #fff;
  font-family: Liberation Sans Narrow;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.btn-confirm {
  margin-left: 10px;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid #016827a0;
  flex-shrink: 0;

  background: linear-gradient(
    272deg,
    #3ea267 4.19%,
    #269052 24.57%,
    #32a261 43.44%,
    #31c16d 66.47%,
    #65ee9e 83.69%,
    #04ff6c 101.87%
  );

  width: 208px;
  height: 42px;
  flex-shrink: 0;
  color: #fff;
  font-family: Liberation Sans Narrow;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
h1 {
  color: #464646;
  font-family: PT Sans Narrow;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  margin-top: 14px;
}
nav {
  width: 480px;
  height: 44px;
  border-radius: 4px;
  background: #404040;
  margin-top: 16px;
  font-family: "PT Sans Narrow";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  color: #fff;
}
nav input {
  display: none;
}
nav label {
  padding: 10px 16px;

  cursor: pointer;
  transition: all 0.3s;
  width: 100%;
  text-align: center;
  justify-content: center;
  border-radius: 4px;
}
nav label:last-of-type {
  border-right: 0;
}
nav input:checked + label {
  border-radius: 4px;
  border-width: 2px;
  border-style: solid;
  border-image: linear-gradient(
      272deg,
      #3ea267 4.19%,
      #269052 24.57%,
      #32a261 43.44%,
      #31c16d 66.47%,
      #65ee9e 83.69%,
      #04ff6c 101.87%
    )
    1;

  text-align: center;
  background: #31c16d27;
  width: 100%;
  justify-content: center;
}
.container-header {
  display: flex;
  justify-content: space-between;
}
.content-btn {
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 500px;
  margin: 0 auto;
  margin-top: 30px;
  padding-left: 136px;
}
